@page "/admin"

@model BookStoreM10.Pages.Admin.IndexModel

@{
}

<!DOCTYPE html>

<html>

    <head>
        <title>Book Store Admin</title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <base href="/" />
    </head>

<body>
    
    <p>testing testing</p>

</body>
</html>